root = true

[*.cs]
charset = utf-8
end_of_line = crlf
insert_final_newline = false

indent_style = space
indent_size = 4
tab_width = 4

# 大括号
csharp_new_line_before_open_brace = all
csharp_indent_braces = false

# 空格
csharp_space_after_cast = false
csharp_space_around_binary_operators = before_and_after

# 单行代码
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = false

# using
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false