BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: ForContinuationAndIndentation
ColumnLimit: 120
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes

# 括号与换行
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 4
BreakBeforeBinaryOperators: NonAssignment
Cpp11BracedListStyle: false

# 参数排布（避免挤在一行，增强可读性）
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false

# 对齐核心
AlignOperands: Align
AlignTrailingComments: true
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

# 指针与空格风格
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements

# include 与空行
SortIncludes: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
BreakBeforeBraces: Allman
